/* red-hat-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-text-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-text-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/red-hat-text-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* ================= Colors ================= */
  /* Red */
  --color-red: #c7380f;

  /* Rose */
  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  /* Green */
  --color-green: #1ea575;

  /* Black & White */
  --color-black: #000000;
  --color-white: #ffffff;

  /* ================= Typography ================= */
  /* Font family */
  --font-primary: "Red Hat Text", sans-serif;

  /* Font sizes */
  --text-preset-1-size: 5.6rem; /* 56px */
  --text-preset-2-size: 2.4rem; /* 24px */
  --text-preset-3-size: 1.6rem; /* 16px */
  --text-preset-4-size: 1.4rem; /* 14px */

  --text-preset-1-line-height: 1.29; /* 72px / 56px */
  --text-preset-2-line-height: 1.25; /* 30px / 24px */
  --text-preset-3-line-height: 1.5; /* 24px / 16px */
  --text-preset-4-line-height: 1.5; /* 21px / 14px */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
img {
  object-fit: cover;
  display: flex;
}
body {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: var(--text-preset-3-line-heightlin);
  color: var(--color-rose-900);
  background-color: var(--color-rose-50);
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1276px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
  display: flex;
  gap: 3.2em;
}

.desserts__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}
.desserts {
  width: 100%;
  max-width: 800px;
}
.desserts__title {
  font-size: var(--text-preset-1-size);
  line-height: var(--text-preset-1-line-height);
  margin-bottom: 3.2rem;
}
.your-cart {
  width: 30%;
}
.card__image {
  width: 100%;
  border-radius: 8px;
}
.card__buttons {
  margin-top: -22px;
  position: relative;
  z-index: 1;
}
.btn {
  border-radius: 999px;
  background-color: transparent;
  cursor: pointer;
  padding: 1.12rem 1.6rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  font-family: inherit;
  width: 160px;
  display: flex;
  span {
    font-weight: 600;
  }
}
.card__add {
  background-color: var(--color-white);
  border-color: var(--color-rose-400);
  cursor: pointer;
  gap: 8px;
  align-items: center;
}

.card__amount__buttons {
  width: 160px;
  background-color: var(--color-red);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__amount__btn {
  background-color: transparent;
  border: 1px solid var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white);
  }

  &:hover svg path {
    fill: var(--color-red);
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 1.6rem;
}
.card__category {
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-line-height);
  color: var(--color-rose-500);
}
.card__name {
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  font-weight: 700;
}
.card__price {
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  font-weight: 600;
  color: var(--color-red);
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
